body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #eee, #ddd);
}

h1 {
  margin-top: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  margin: 30px auto;
  border: 4px solid #333;
  width: 560px;
}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.selected {
  outline: 3px solid yellow;
}

#turn {
  font-size: 20px;
  margin-top: 10px;
}
